In [1]:
# How-to-count-distance-to-the-previous-zero For each value, count the difference back to the previous zero (or the start of the Series, 
# whichever is closer) create a new column 'Y' Consider a DataFrame df where there is an integer column 'X' 

#Import the Packages
import pandas as pd
import numpy as np

#Create a Data frame with the given input.
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}) 

# Get the Indices where the Zero is present in the array.    
zeroIndices = np.r_[-1, (df['X'] == 0).nonzero()[0]]  

# Create a numpy array with the posiitions of the elements 
idx = np.arange(len(df))

# Find the indices into a sorted array a such that, if the corresponding elements in v were inserted before the indices,
# the order of a would be preserved.
df['Y'] = idx - zeroIndices[np.searchsorted(zeroIndices - 1, idx) - 1]
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

In [2]:
#2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers. 

#Import the Packages
import pandas as pd

dti = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B') 
s = pd.Series(np.random.rand(len(dti)), index = dti)
print(s)

2015-01-01    0.704598
2015-01-02    0.169735
2015-01-05    0.514995
2015-01-06    0.529405
2015-01-07    0.155315
2015-01-08    0.751440
2015-01-09    0.700639
2015-01-12    0.028153
2015-01-13    0.107521
2015-01-14    0.473097
2015-01-15    0.894764
2015-01-16    0.358610
2015-01-19    0.095655
2015-01-20    0.747409
2015-01-21    0.830333
2015-01-22    0.062678
2015-01-23    0.078961
2015-01-26    0.539766
2015-01-27    0.574327
2015-01-28    0.269104
2015-01-29    0.320994
2015-01-30    0.638530
2015-02-02    0.662354
2015-02-03    0.554911
2015-02-04    0.124966
2015-02-05    0.909819
2015-02-06    0.085066
2015-02-09    0.125923
2015-02-10    0.016436
2015-02-11    0.306714
                ...
2015-11-20    0.955409
2015-11-23    0.325676
2015-11-24    0.867445
2015-11-25    0.601388
2015-11-26    0.053013
2015-11-27    0.096795
2015-11-30    0.555327
2015-12-01    0.537380
2015-12-02    0.333219
2015-12-03    0.906173
2015-12-04    0.419837
2015-12-07    0.987709
2015-12-08    0.106565
2015-12-09    0.585921
2015-12-10    0.217647
2015-12-11    0.125848
2015-12-14    0.020570
2015-12-15    0.221781
2015-12-16    0.455209
2015-12-17    0.104512
2015-12-18    0.824571
2015-12-21    0.693048
2015-12-22    0.918865
2015-12-23    0.290316
2015-12-24    0.075483
2015-12-25    0.918178
2015-12-28    0.516874
2015-12-29    0.255058
2015-12-30    0.270338
2015-12-31    0.109821
Freq: B, Length: 261, dtype: float64

In [3]:
# 3. Find the sum of the values in s for every Wednesday.

print(s[s.index.weekday == 2].sum())

23.00505969771283

In [4]:
#4. Average For each calendar month 

print(s.resample('M').mean())

2015-01-31    0.433910
2015-02-28    0.347163
2015-03-31    0.453417
2015-04-30    0.444750
2015-05-31    0.446499
2015-06-30    0.334899
2015-07-31    0.449121
2015-08-31    0.569169
2015-09-30    0.600537
2015-10-31    0.414124
2015-11-30    0.497832
2015-12-31    0.430214
Freq: M, dtype: float64

In [5]:
#5. For each group of four consecutive calendar months in s, find the date on which the highest value occurred. 

print(s.groupby(pd.Grouper(freq='4M')).max())
print(s.groupby(pd.Grouper(freq='4M', closed='left')).max())

2015-01-31    0.894764
2015-05-31    0.985910
2015-09-30    0.983300
2016-01-31    0.999030
dtype: float64
2015-04-30    0.985910
2015-08-31    0.983300
2015-12-31    0.999030
2016-04-30    0.109821
Freq: 4M, dtype: float64